*, html, body {
  box-sizing:  border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  background: #252A34;
  min-height: 100%;
}

.back {
  background-color: palegoldenrod;
  width: 499px;
  height: 499px;
}
